.close {
  position: fixed;
  top: 100px;
  right: 100px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.close img {
  background: transparent;
}

.close:hover {
  background: 0;
}
